<a href="https://colab.research.google.com/github/ShivaKumar8037/Gitam-Python/blob/master/10_7_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Data Structures
- Dictionaries

####Dictionaries
- It works on the concept of Unique Data
- Keys,values is the unique identifier for a value
- Each key is separated from its values with colon(:)
- Each key and value is separted by comma(,)
- Dictionaries enclosed with Curly braces ({})

In [0]:
d1 = {"Name":"Gitam","EmailId":"gitam@gmail.com","Address":"Hyderabad"}#where name is key and gitam is value
print(d1)

{'Name': 'Gitam', 'EmailId': 'gitam@gmail.com', 'Address': 'Hyderabad'}

In [0]:
d1["Name"] #Access the specific key

'Gitam'

In [0]:
d1["EmailId"] = "Gitam-Python@gmail.com" #Update the data

In [0]:
d1["EmailId"]

'Gitam-Python@gmail.com'

In [0]:
del d1["EmailId"] #To delete the specific key value
                   # del d1 will delete the entire in dictionary object
  #the output is error because of the key"EmailId" is deleted

KeyError: ignored

In [0]:
d1

{'Address': 'Hyderabad', 'Name': 'Gitam'}

In [0]:
d1.keys()#returns the list of keys

dict_keys(['Name', 'Address'])

In [0]:
d1.values()#returns the list of values

dict_values(['Gitam', 'Hyderabad'])

In [0]:
d1.items() #the list of tuples of keys and values

dict_items([('Name', 'Gitam'), ('Address', 'Hyderabad')])

###Tuples
- t1 parenthesis() li square brackets[ ]
- Difference between list and tuples
           -List are mutable - can be changed/modified
                  - Used to access modify , Add, Delete data
           -Tuples are immutable - cannot be changed
                    - Used to access data only

In [0]:
t1 = (1,2,3,4,5,6)#example of tuple
t1
type(t1)

tuple

In [0]:
t1[1:5]#the previous slicing can be applied to tuple
#basically,tuple is only used to read the data

(2, 3, 4, 5)

###Contact Application
- Add Contact
- Search the contact
- List all contacts
     
     - name 1: phone1
     - name 2:phone2
-Modify the contact
-remove the contact
- import the contact

In [0]:
#Add contact
contacts = {} #creating a dict object
def addContact(name,phone):
  if name not in contacts:#condition to check phone exists or not
    contacts[name]=phone
    print("Contact details are added")
  else:
    print("Contact details already exists")
  return
addContact("shiva","8106164941")
addContact("musk","5646865486")
addContact("shiva","81064941")#even though the phone number is same it doesn't take

Contact details are added
Contact details are added
Contact details already exists

In [0]:
#Search for contact details
def searchContact(name):
  if name in contacts:
    print(name,":",contacts[name])#contact[name] contains the phone number
  else:
    print("%s does not exists"%name)
  return
searchContact('shiva')
searchContact('bro')
searchContact('musk')

shiva : 8106164941
bro does not exists
musk : 5646865486

In [0]:
#Import some contact
#Merge the contact with existing one
def importContact(newContacts):
  contacts.update(newContacts)#adding newContacts to contacts
  print(len(newContacts.keys()),"Contacts added successfully")
  return
newContacts = {"Dinesh":9988774455,"Ajay":9977445566}
importContact(newContacts)

2 Contacts added successfully

In [0]:
contacts

{'Ajay': 9977445566,
 'Dinesh': 9988774455,
 'musk': '5646865486',
 'shiva': '8106164941'}

In [0]:
#delete a contact
def deleteContact(name):
  if name in contacts:
    del contacts[name]
    print(name,"delelted Successfully")
  else:
    print(name,"doesn't exists")
  return

deleteContact("Dinesh")#you deleted Dinesh twice .'. "Dinesh doesn't exists"
print(contacts)

Dinesh doesn't exists
{'shiva': '8106164941', 'musk': '5646865486', 'Ajay': 9977445566}

In [0]:
#Update the contact details
def deleteContact(name,phone):
  if name in contacts:
    contacts[name]=phone
    print(name,"Update Successfully")
  else:
    print(name,"not exists")
  return
deleteContact("Ajay",5645681278)
deleteContact("Dinesh",9988665544)
contacts

Ajay Update Successfully
Dinesh not exists

{'Ajay': 5645681278, 'musk': '5646865486', 'shiva': '8106164941'}

In [0]:
#2 problem
l=[]
sum=0
N = int(input("enter number of inputs:"))
for i in range(N):
  n=int(input())
  l.append(n)
for i in l:
  b=l[i]
  for j in range(i+1,len(l)):
    if b==l[j]:
      print(-1)
      break
  else:
    sum= sum+l[i]

In [0]:
#3
s=input("Enter s:")
for i in range(len(s)):
  if ord(s[i]) == 32:
    n=i
for i in range(n):
  print(s[i],end="")
  for j in range(n,len(s)):
    print(s[j],end="")

###String Formatting
- Classical version
- Current version

In [0]:
#Classical version
li=["Python","Programming"]
print("%s %s"%(li[0],li[1]))

Python Programming

In [0]:
#Current Version
print("{0} {1}".format(li[0],li[1]))

Python Programming

In [0]:
li1=[1,2,3,4]
print("%d %d %d %d" %(li1[0],li1[1],li1[2],li1[3]))

1 2 3 4

In [0]:
print("{0} {1} {2} {3}".format(li1[0],li1[1],li1[2],li1[3]))

1 2 3 4

###String Functions
- upper() -- will converts the given string into uppercase
- lower() -- will converts the given string into lowercase

In [0]:
s1 = "Gitam"
print(s1.upper())
print(s1.lower())

GITAM
gitam

###Boolean Function (True and False)
- islower() -- True if the string is lower case/False if the string is not in lower case
-isupper() -- True if the string in upper case/False if the string not in upper case
- istitle( ) -- True if the string follows title case/false
- isalpha() -- if it contains only alphabets

In [0]:
s1 = "GITAM"
print(s1.islower())
print(s1.isupper())

False
True

In [0]:
s2= "Python Programming"
s3= "python Programming"
print(s2.istitle())
print(s3.istitle())

True
False

In [0]:
s2 = "Application1889"
s3 = "PythonProgrammming"
print(s2.isalpha())
print(s3.isalpha())

False
True

In [0]:
s3 = "PythonProgrammming"
s1 = "1234"
print(s1.isnumeric())
print(s3.isnumeric())

True
False

In [0]:
s1 = " "
s2 = "Py th on "
print(s1.isspace())
print(s2.isspace())

True
False

###String Methods
- 1.join() -- method will concatinates the two strings
- 2. split() -- split() returns the list of strings separted by whitespace (no)

In [0]:
s1 = "python"
print(" ".join(s1))

p y t h o n

In [0]:
s1 = "python is fun"
print(",".join(s1))

p,y,t,h,o,n, ,i,s, ,f,u,n

In [0]:
li=['Python','Programming','Course']
print(",".join(li))

Python,Programming,Course

In [0]:
s1 = "python is fun"
print(s1.split())

['python', 'is', 'fun']

In [0]:
s1 = "python is fun"
print(s1.split('n'))

['pytho', ' is fu', '']

In [0]:
s1 = "python is fun"
li = s1.split('n')
print(li)

['pytho', ' is fu', '']

In [0]:
s1 = "python is fun"
li=list(s1)
print(li)

['p', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'f', 'u', 'n']

###Packages and modules
**Packages:**
   - A collection of Modules (Single Python file .py) and Subpackages
   
**Module:**
   - A single Python file containing set functions
 
**Packages --> Sub Packages --> Modules --> Fuctions --> Statements**

In [0]:
#Import the externals packages to Python File
import math#entire lib will be imported
math.floor(123.45)

123

In [0]:
from math import factorial as fact#only one function will be imported
fact(5)

120

In [0]:
from math import gcd 
gcd(8,4)

4

In [0]:
#function to generate N random numbers in giver range
import random
def randomNNumbers(n,lb,ub):
  for i in range(0,n):
    print(random.randint(lb,ub),end=" ")
  return
randomNNumbers(10,0,100)

79 21 0 14 95 96 83 96 21 67

In [0]:
#Create a simple Game:
#Generate 20 random numbers 0 to 500 
#input:Number
#output:Congrats!!
#       Try once again
import random
n= random.randint(0,500)
print(n)
key = int(input("Enter Your Guess!:"))
while n!=key:
    print("Try once again")
    key = int(input("Enter Your Guess!:"))
if n==key:
    print("Congrats!!!")

118
Enter Your Guess!:1
Try once again
Enter Your Guess!:118
Congrats!!!

In [0]:
def generateNumber(n,lb,ub):
  li=[]
  for i in range(0,n):
    li.append(random.randint(lb,ub))
  return li
generateNumber(20,0,200)
def check(n):
  if n in li:
    return "Congrats!!!"
  else:
    return "Try once again!"
  return
check(1)

'Try once again!'