<a href="https://colab.research.google.com/github/ShivaKumar8037/Gitam-Python/blob/master/10_7_19Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###1.The program must accept an integer N as the input. The program must print the fibonacci series in the reverse order as the output.

In [0]:
#fibi
n = int(input("Enter a number:"))
f0=0
f1=1
k=1
l=[]
l.append(f0)
l.append(f1)
while k!=n-1:
  f2=f1+f0
  l.append(f2)
  f0=f1
  f1=f2
  k=k+1
l.reverse()
print(l)

Enter a number:12
[89, 55, 34, 21, 13, 8, 5, 3, 2, 1, 1, 0]

###10.Series Generations:-  1, 3, 9, 27, 81, ...

In [0]:
#10
#3x3^0
for i in range(0,10):
  s3=(3**i)
  print(s3,end=" ")

1 3 9 27 81 243 729 2187 6561 19683

###11.Series Generations:-  1, 2, 4, 8, 16, 32, 64, 128, 256, ...

In [0]:
#11
for i in range(0,10):
  s3=(2**i)
  print(s3,end=" ")

1 2 4 8 16 32 64 128 256 512

###14.Series Generations:-  1! + 2! + 3! + 4! + 5! + ... + n!

In [0]:
#14
def fact(n):
  f=1
  i=1
  while(n+1!=i):
    f=f*i
    i=i+1
  return f
fact(5)
sum=0
for i in range(1,12):
  print(fact(i),"+",end=" ")
print("\n")
for i in range(1,12):
  print(i,"! +",end=" ")

1 + 2 + 6 + 24 + 120 + 720 + 5040 + 40320 + 362880 + 3628800 + 39916800 +

1 ! + 2 ! + 3 ! + 4 ! + 5 ! + 6 ! + 7 ! + 8 ! + 9 ! + 10 ! + 11 ! +

###8.Your Program has to read one string as well as one character and you need to remove the all the occurance of the character.

In [0]:
#8
s=input("Enter string:")
n=input("Enter removing charcter:")
for i in range(len(s)):
  if s[i]==n:
    s.replace(n,'')
  else:
    print(s[i],end='')

Enter string:HebeonTech
Enter removing charcter:e
HbonTch

###9.Your Program need to accept two strings and generate the output in merging of both strings.

In [0]:
#9
s1=(input("Enter string s1:"))
s2=(input("Enter string s2:"))
for i in range(len(s1)):
  print(s1[i],end="")
  for j in range(i,i+1):
    print(s2[j],end='')

Enter string s1:abc
Enter string s2:xyz
axbycz

###5.Your program need to accept a string (alphanuermic) includes white spaces also. The program must print the output in the following way.

In [0]:
#5.1
def wordUpperCase(s):
  spaceCnt = 0
  for x in range(len(s)):
    if ord(s[x])==32:
      spaceCnt += 1 #spaceCnt = spaceCnt + 1
    if spaceCnt == 1:
      if ord(s[x])>=65 and ord(s[x])<=90:
        print(s[x],end="")
      elif ord(s[x])>=97 and ord(s[x]) <=122:
        print(chr(ord(s[x])-32),end="")
    if spaceCnt ==2:
      return
wordUpperCase("application Testing")
wordUpperCase("anil Test app")

TESTINGTEST

###7.The program must accept an integer N the input. The program must print the desired pattern as shown in the Example Input/Output section.

In [0]:
#7
n=int(input("Enter a number:"))
k=0
rev=0
while(n>0):
    dig=n%10
    rev=rev*10+dig
    n=n//10 
n=rev

temp = n
while n!=0:
  
  n=n//10
  k=k+1
  
for j in range(k):
  r=temp%10
  for i in range(1,r+1):
    print("*",end=" ")
  print("\n")
  temp=temp//10

Enter a number:14957
*

* * * *

* * * * * * * * *

* * * * *

* * * * * * *

###4.The program must accept a string S as the input. The program print the longest word from the string S as the output. If two or more longest words are of same length then consider the first one.

In [0]:
#4 print the largest string in a given string
n=input("Enter string:")
c1=0
c2=0
for i in range(len(n)):
  if ord(n[i])==32:
    spacePos=i
for j in range(spacePos):
  c1=c1+1
for k in range(spacePos+1,len(n)):
  c2=c2+1
if c1>c2:
  for m in range(c1):
    print(n[m],end='')
elif c2>c1:
  for z in range(c1,len(n)):
    print(n[z],end='')
elif c2==c2:
  for y in range(c1):
    print(n[y],end='')

Enter string:good abad
4 4
good

###13. Series Generations:-  2 15 41 80 132 197 275 366 470 587

In [0]:
a=2
i=1
print(a,end=" ")
while i!=10:
  b=a+13*i
  print(b,end=" ")
  a=b
  i=i+1

2 15 41 80 132 197 275 366 470 587

###3. The program must accept two string values S1 and S2. The program must print the pattern as shown in the 

Example Input/Output sections.

Boundary Condition(s):

1 <= Length of S1, S2 <= 100

Example Input/Output 1:

Input:

bad water

Output:

bw

aa

dt

*e

*r

In [4]:
s1=input("")
s2=input("")
if len(s1)>len(s2):
    while(len(s1)!=len(s2)):
        s2=s2+"*"
        a=len(s2)
if len(s1)<len(s2):
    while(len(s1)!=len(s2)):
        s1=s1+"*"
        a=len(s1)
for i in range(a):
    print(s1[i],s2[i],"\n")

hello
dad
h d

e a

l d

l *

o *