<a href="https://colab.research.google.com/github/ShivaKumar8037/Gitam-Python/blob/master/5_7_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Markdown Basics
## Markdown Basics
### Markdown Basics
#### Markdown Basics
##### Markdown Basics

* **point** (Bold)
* *point*     (Italic)
* ***point*** (Bold and Italic)

* Normal text
   *sublist 1
   *sublist 2

> 1.Point 1
> 2.Point 2

* ***Adding Links to Markdown***
* Google Site -- .[1].: http://www.google.com
* msn site      -- .[2].: http://www.msn.com

* []option 1
* Google Site -- [Google].[1]

.[1].: http://www.google.com

In [0]:
print("Hello,Gitam")
print("hello")

Hello,Gitam
hello

In [0]:
print("Hello, Gitam","|||", end = "")
print("Hyderabad",end = "|||")
print("Python Programming")

Hello, Gitam |||Hyderabad|||Python Programming

In [0]:
n1 =100 #single variable Assignment
a = b = c = 20 #Multi Variable Assignment
a1,b1,c1 = 111,222,333 # Multi Variable Assignment with different values 
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

###Data types and Conversions
* int
* float
* string

In [0]:
a=100
s1 = "Python"
s2 = "p"
f1 = 10.2 
print(a)
print(s1)
print(type(a))
print(type(s1))
print(type(s2))#python doesn't have a character data type
print(type(f1))

100
Python
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>

In [0]:
i = 100 
print(type(i))
s1 = str(i)  #str() converts the input into string type
print(type(s1))
f1 = float(i) # float() coverts the input into float type
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [0]:
s1 = "100"
print(type(s1))
a = int(s1) # converts into an intger form
print(type(a))

f=1.5
a1=int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [0]:
# A number is given 1234 -
# Digit count
a1 = 1234
print(len(str(a1)))

4

### Reading a value
* input("message")--string

In [0]:
s1 = input("Enter your name")
print(s1)
print(type(s1))

Enter your nameShiva KUmar
Shiva KUmar
<class 'str'>

In [0]:
#want a number as a input
n1= int(input("Enter a number\n"))
print(n1,type(n1))

Enter a number
546546456546854865448654186541654685468546854685416854685468541654654685416854
546546456546854865448654186541654685468546854685416854685468541654654685416854 <class 'int'>

##Operators
* Operator is a symbols is used to perform a specific kind of operations

### Arithmetic Operators
- +
- /
- *
- %
- **
- //

In [0]:
n1 = 696969
print(n1 +10)
print(n1-10)
print(n1*10)
print(n1/10) #float
print(n1%10) #remainder
print(n1//10) #int (quotient)
print(n1**10) #exponent

696979
696959
6969690
69696.9
9
69696
27047966411767032618181411590855654140444248002673015110801

###Precedence of the Arithmetic Operators
* Parenthesis
*Power
* Multiplication 
* Addition

####Left to Right

In [0]:
x = 1 + 2 ** 3 / 4 + 5
print(x)

8.0

In [0]:
x = 1 + 2 ** 3 / 4 * 5
print(x)

11.0

### Relational Operators (True or False)
- ==
- !=
- Greater (>)
- Less than (<)
- Less than or equals to (<=)
- Greater than or equals to (>=)

In [0]:
x= 10 
a1 = x>15
print(a1)

False

###Logical Operators
####Used to combine more than single condition
- and (when both conditions are true --- true)
-or (when only one condition is true -- true)
- not

In [0]:
i =100
a1 =(i > 15) and ( i < 800)
a2 =(i> 15)  and (i  > 800)
print(a1)
print(a2)

True
False

###Control Flow Statements
- Conditional statements
-Looping Statements

### Syntax
if Boolean_Condition:

Statements

else :

statements

In [0]:
#To check given number is even or odd
n = int(input("Enter a number"))
if n%2 == 0:
  print("even")
else:
  print("Odd")

Enter a number65
Odd

In [0]:
#to check a given number is perfectly multiple of 3 and 5
n = int(input("Enter  a  number\n"))
if n%3==0 and n%5==0:
  print("Yes")
else:
  print("No")

Enter  a  number
30
Yes

In [65]:
#test given number is positive , negative or not
n = int(input("Enter a number\n"))
if n>0:
  print("Number is greater than zero")
elif n==0:
  print("Number is equal to zero")
elif n<0:
  print("Number is less than zero")

Enter a number
0
Number is equal to zero

In [0]:
-5