<a href="https://colab.research.google.com/github/ShivaKumar8037/Gitam-Python/blob/master/9_7_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Day Objectives:
- Python Data Structures
  >lists

  >Tuples

  >Dictionaries
-Basic  Program sets on Data Structures
-Advanced Problem set
-Contact Application (Dictoiinary Object)

Data Structures :

- to Store, Search and sort the data.

###Python Data Structures
####Lists
- It's one of common data structures supports by Python, seperated by comma operator and enclosed in square brackets
 
    - Example:list1 = [1,6,2,18,9]
             list2 = ["Gitam"10,12,15.5,"Hyderabad"]

In [7]:
lst = [1,8,16,9,2]#creating the list object in python
print(lst)#Access the entire list
print(lst[0])#Access the first item of list
print(lst[1])#Access the second item of list
print(lst[-1])#Access the last item of list
print(lst[-2])#Access the last second item of list
print(lst[1:])#prints from 2nd item to last
print(lst[1:4])

#use li,list1,lst ,lst1 or something like that instead of "list"

[1, 8, 16, 9, 2]
1
8
2
9
[8, 16, 9, 2]
[8, 16, 9]

In [16]:
#Update the list item values using index (Direct Referencing)
li= ["Gitam","Python",1989,2002]
print(li)
li[2]=2019    #updating the 2nd position in the list
print(li)

['Gitam', 'Python', 1989, 2002]
['Gitam', 'Python', 2019, 2002]

In [18]:
#Delete the specific item in the list
print(li)
del li[2] #for deleting the specific item 
print(li)

['Gitam', 'Python', 2019, 2002]
['Gitam', 'Python', 2002]

In [35]:
#Basic List Operations
lst1= [1,9,6,18,2]
print(len(lst1))#len of the list
print(lst1 * 2) #repeatation
print(len(lst1))#size of list is not changing even after repeation
print(9 in lst1)#is number 9 in list or not
print(15 in lst1)#is number 15 in list or not

#Access the list items using iteration
for x in range(len(lst1)):
  print(lst1[x],end=" ")

5
[1, 9, 6, 18, 2, 1, 9, 6, 18, 2]
5
True
False
1 9 6 18 2

In [34]:
#function of the list
#homogenous list: having same type of data in the list
lst1
print(min(lst1)) #return the min value in the list
print(max(lst1)) #returns the max value in the list
print(sum(lst1)) #returns the sum of all elements in the list
print(sum(lst1)//len(lst1)) #Average of list elements
print(lst1[1::2])#prints alternate numbers
print(sum(lst1[1::2]))#sum of all the alternate elements
print(sum(lst1[1::2])/len(lst[1::2])) #average of all the alternate elements

1
18
36
7
[9, 18]
27
13.5

In [43]:

lst1
lst1.append(42)#adding a new element at the end of the list(adds physically)
print(lst1)
lst1.insert(2,56) #adding an element at particular index
print(lst1)
lst1.count(24) #returns the value how many times the object repeated
lst1.index(56)
lst1.sort() #it's sort the list in ascending order
print(lst1)
lst.pop()#remove the last element from the list
lst1
lst1.pop(1)#remove an element form a particular index
lst2=[12,34,5]
lst1.extend(lst2) #merge the list1 and list2
lst1

[1, 2, 6, 9, 18, 24, 24, 24, 24, 42, 56, 42]
[1, 2, 56, 6, 9, 18, 24, 24, 24, 24, 42, 56, 42]
[1, 2, 6, 9, 18, 24, 24, 24, 24, 42, 42, 56, 56]

[1, 6, 9, 18, 24, 24, 24, 24, 42, 42, 56, 56, 12, 34, 5]

In [57]:
li = [1,9,8,2,6,3]
print(li[-1:0:-2]) #last index:till 0th index:from reverse alternate
print(li[-1::]) #last index
print(li[-1::-2]) #

[3, 2, 9]
[3]
[3, 2, 9]

In [66]:
lst1.reverse()#reverses the list1
lst1

[5, 34, 12, 56, 56, 42, 42, 24, 24, 24, 24, 18, 9, 6, 1]

In [70]:
lst1.remove(24) #removes the element in the list
lst1

[5, 34, 56, 56, 42, 42, 24, 24, 24, 18, 9, 6, 1]

In [72]:
#function to find the second large item in the list
#input : [1,19,6,2,8,18,3]
#output : 18
def secondLarge(li):
  li.sort()
  return li[-2]
def genericLarge(li,n): #function to find any largest value
  li.sort()
  return li[-n]
li=[1,19,6,2,8,18,3]
genericLarge(li,4)

6

In [74]:
#function to find the least item from the list
def secondLeast(li):
  li.sort()
  return li[1]
li=[1,19,6,2,8,18,3]
print(secondLeast(li))

def genericLeast(li,n):
  li.sort()
  return li[n-1]
print(genericLeast(li,3))

2
3

###Searching Algorithms
- Linear Search
- Binary Search
###Linear Search
- Linear Search Algorithm can be applied on Duplicate and Unique List
      - Unique List:All the items of the list is appeared only one
      - Duplicate List:The items of the list can be appeared more than once
   - Linear Search Algorithm can be applied on Sorted or Unsorted list

In [81]:
#function to search the data in a list
#search is found then return the index if not return 
def linearSearch(li,tarItem):
  for x in range(len(li)):
    if li[x]==tarItem:
      return x
  return -1
li=[1,2,3,4,5,8]
linearSearch(li,5)

4

In [86]:
#function
#input: [1,5,9,6,5,15,1,2,5],key=5#Duplicate
#Output:1 4 8
def linearSearch2(li,key):
  for x in range(len(li)):
    if li[x]==key:
      print(x,end=" ")
  return    
li=[1,5,9,6,5,15,1,2,5]
linearSearch2(li,5)

1 4 8

In [99]:
#function 
#input:list
#output:Seq of characters
#test case
#[1,5,9,6,5,15,1,2,5],tar=5--!! !!!!!  !!!!!!!!!
def linearSearch3(li,key):
  for x in range(len(li)):
    if li[x]== key:
      for i in range(x+1):
        print("!",end="")
      print(end=" ")
  return
li=[1,5,9,6,5,15,1,2,5]
linearSearch3(li,5)

!! !!!!! !!!!!!!!!

In [103]:
#function 
#input :list
#output: Formatted
#test case:
#[12,2,45,9,18,15,36]--60
#A list item which perfectly multiple of 3 and 5
def sumMultiple(li):
  sum=0
  for x in range(len(li)):
    if li[x]%3==0 and li[x]%5==0:
      sum=sum+li[x]
  return sum
li=[12,2,45,9,18,15,36]
sumMultiple(li)#60

60

In [115]:
#function
#input:list
#output:Formatted Output
#test case:
#[1,2,3,4,5]--[1,3,8,15,5]
#[6,5,2,8,2]--[6,12,40,4,2]
#1.print first and last as it is because first number does not have previous and last does not have next number
#2.need to multiply the previous and the next number
def linearSearch5(li):
  for x in range(len(li)):
    if x==0 or x==len(li)-1:
      print(li[x],end=" ")
    else:
      print(li[x-1]*li[x+1],end=" ")
  return
li=[1,2,3,4,5]
linearSearch5(li)

1 3 8 15 5

In [121]:
#function 
#input:list
#output:Formatted output
#test cases:
#[1,6,9,4,16,19,22]--1 9 19 22 
#1.First and last element print as it is
#2.both sides numbers are even then print it
def linearSearch6(li):
  for x in range(len(li)):
    if x==0 or x==len(li)-1:
      print(li[x],end=" ")
    elif li[x-1]%2==0 and li[x+1]%2==0:
      print(li[x],end=" ")
  return
li=[1,6,9,4,16,19,22]
linearSearch6(li)

1 9 19 22

###Number to List (Very Popular ques)
- Input as Number
- Expected output will be list

In [141]:
#function for conversion - Number to List
#Input -- number
#Output -- list
#Test Cases:-
#14569 -- [1,4,5,6,9]
def num(n):
  l=[]
  while n>0:
    r=n%10
    l.append(r)
    n=n//10
  l.reverse()
  return l
num(14569)

[1, 4, 5, 6, 9]

In [148]:
#function to count the occurances of a character in a string
#"Python Programming", P -> 2
#"Python Programming",m ->2
def countCharOccurances(s,c):
  cnt=0
  for ch in s:
    if ch== c:
      cnt +=1
  return cnt
countCharOccurances("Python Programming","g")
def countCharOccurances1(s,c):
  return s.count(c) #a simple alternative
countCharOccurances("Python Programming","g")

2

###String to List Conversion
- Input will be string
- Expected output will be list

In [154]:
#fucntion to convert the string to list
#test case
#"1 2 3 4 5 6"--- {1,2,3,4,5,6]

def stringToListConversion(s):
  li = s.split()
  numberslist=[]
  for i in li:
    numberslist.append(int(i))
  return numberslist
s="1 2 3 4 5 6"
stringToListConversion(s)

[1, 2, 3, 4, 5, 6]

###Sorting Algorithms
- Bubble Sort
- Selection Sort
- Insertion Sort
### Bubble sort:-
- This algorithm compares the adj elements,if the first element is greater than second element then its required to swap the elements

In [187]:
#function to represent the Bubble sort
def bubbleSort(li):
  for i in range(len(li)-1):
    for j in range(len(li)-1):
      if li[j] > li[j+1]:
        li[j],li[j+1]=li[j+1],li[j]
  return li        
 
li=[6,8,4,2,1,7,0,9] 
bubbleSort(li)

[1, 4, 5, 6, 9]

In [188]:
#assignment Question 1
def lis(li):
  for x in range(len(li)):
    print(li[x],end="")
  return
li=[1,4,5,6,9]
    
lis(li)

14569

In [186]:
#assignment question 2
def lis(li):
  for x in range(len(li)):
    if li[x]%2==0:
      print(li[x],end="")
  return
li=[1,4,5,6,9]
lis(li)

46

In [185]:
#assignment question 3
def lis(li):
  for x in range(len(li)):
    if li[x]%2==0:
      li[x]=li[x]*li[x]
  return li
li=[1,2,3,4,5] 
lis(li)

[1, 4, 3, 16, 5]

In [183]:
[1,5,6,9,5,3,2,4]#assignment question 4
def lis(li):
  l2=[]
  for x in range(len(li)):
    if x==0 or x==len(li)-1:
      l2.append(li[x])
    else:
      l2.append(li[x-1]+li[x])
  return l2
li=[15,19,12,16,4]
lis(li)

[15, 34, 31, 28, 4]